#ip007 {
  max-width:calc(100% - 16px);
}

#i801 {
  white-space-collapse:preserve;
  text-wrap:nowrap;
}

#i6kh1 {
  height:800px;
  max-height:800px;
}

#imp8 {
  overflow-x:auto;
  overflow-y:auto;
}

